/* space-mono-regular - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/space-mono-v10-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/space-mono-v10-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v10-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/lexend-deca-v15-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  top: 0;
  left: 0;
  padding-top: 34px;
  padding-bottom: 34px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 5;
}

body {
  width: 1440px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 93px;
  font-family: Lexend Deca, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  margin-top: 40px;
}

a {
  display: block;
  text-decoration: none;
  color: #000000;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

footer {
  background-color: #495567;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
}

.all-buttons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FCB72B;
  border: 3px solid #FCB72B;
  font-family: Space Mono, monospace;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.all-buttons:hover {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  cursor: pointer;
  background-color: transparent;
  color: #FCB72B;
  padding: 14px 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav-link {
  font-family: Space Mono, monospace;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__nav-link:hover {
  cursor: pointer;
  color: #FCB72B;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 58.18px;
  width: 107px;
  height: 28px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 511px;
}

.header__nav-item {
  margin-right: 32px;
}

.header__nav-item:last-child {
  margin: 0;
}

@media only screen and (max-width: 1136px) {
  .header__container {
    max-width: 719px;
    margin: 0 auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 94px;
  }
  .header__nav-item:last-child {
    margin: 0;
  }
}

.header__burger {
  display: none;
  border: none;
  background-color: #FFFFFF;
  width: 19px;
  height: 19px;
  border-radius: 6px;
}

.header__burger::before, .header__burger::after, .header__burger-inner {
  width: 21.69px;
  height: 3.69px;
  background-color: #FCB72B;
  display: block;
  margin-bottom: 3px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  border-radius: 5px;
  content: '';
}

.header__burger::after {
  margin-bottom: 0;
}

.header__burger--opened {
  position: relative;
}

.header__burger--opened .header__burger-inner {
  display: none;
}

.header__burger--opened::before, .header__burger--opened::after {
  width: 21.69px;
  height: 3.69px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.header__burger--opened::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header__burger--opened::before {
  margin-bottom: 0;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  header {
    margin: 0 auto;
    padding: 0;
  }
  .header__container {
    width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header__list {
    display: none;
  }
  .header__button {
    display: block;
  }
  .header-logo-link {
    width: 75.5px;
    margin: 22px auto 22px 98.31px;
  }
  .header__logo {
    width: 75px;
    height: 20px;
  }
  .header__burger {
    display: block;
    margin-left: 17px;
    width: 18px;
    height: 18px;
    border-radius: 5px;
  }
  .header__nav {
    display: none;
    height: calc(100vh - 64px);
    margin-right: auto;
    background: #495567;
    width: 70%;
    padding: 64px 32px 42px 32px;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-shadow {
    display: none;
    width: 100%;
    height: calc(100vh - 59px);
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.75;
    position: absolute;
    left: 0;
    top: 100%;
  }
  .header__list {
    display: block;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .header__nav-item {
    margin-right: 0;
  }
  .header__nav-link {
    display: block;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.36364px;
    color: #E5ECF4;
    text-align: left;
  }
  .header__nav--opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: to-right 0.6s both;
            animation: to-right 0.6s both;
  }
  .header__nav--opened ~ .nav-shadow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: -2;
  }
  @-webkit-keyframes to-right {
    from {
      left: -68%;
    }
    to {
      left: 0;
    }
  }
  @keyframes to-right {
    from {
      left: -68%;
    }
    to {
      left: 0;
    }
  }
}

.intro {
  background-image: url(../img/intro.jpg);
  background-size: cover;
  height: 650px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../img/intro@2x.jpg);
    /* Retina-specific stuff here */
  }
}

.intro__container {
  position: relative;
}

.intro__container::before {
  display: inline-block;
  width: 202px;
  height: 15px;
  background-image: url(../img/intro-start-line.svg);
  content: '';
  position: absolute;
  left: -164px;
  top: 353px;
}

.intro__container::after {
  display: inline-block;
  width: 446.38px;
  height: 138px;
  background-image: url(../img/intro-end-line.svg);
  content: '';
  position: absolute;
  right: 118px;
  top: 353px;
}

.intro__content {
  padding: 153px 0;
  max-width: 500px;
}

.intro__title {
  font-family: Space Mono, monospace;
  font-weight: bold;
  padding: 0;
  margin: 0;
  letter-spacing: -2.5px;
  font-size: 56px;
  line-height: 56px;
  color: #FFF;
  margin-bottom: 40px;
}

.intro__description {
  font-family: Lexend Deca, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 40px;
  margin-left: 95px;
}

.intro__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 95px;
}

@media only screen and (max-width: 1136px) {
  .intro__container::before,
  .intro__container::after {
    display: none;
  }
  .intro {
    background-image: url(../img/intro-tablet.jpg);
    background-color: #495567;
    background-size: cover;
    height: 650px;
  }
}

@media only screen and (max-width: 1136px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-resolution: 192dpi), only screen and (max-width: 1136px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../img/intro-tablet@2x.jpg);
    /* Retina-specific stuff here */
  }
}

@media only screen and (max-width: 1136px) {
  .intro__container {
    margin-top: 137px;
    position: relative;
  }
  .intro__content {
    width: 573px;
    margin: auto;
  }
  .intro__title {
    text-align: center;
  }
  .intro__description {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
  }
  .intro__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .intro__container::after {
    display: inline-block;
    width: 446.38px;
    height: 138px;
    background-image: url(../img/intro-end-line.svg);
    content: '';
    position: absolute;
    left: -105px;
    top: 483px;
  }
}

@media only screen and (max-width: 768px) {
  .intro__container::after,
  .intro__container::before {
    display: none !important;
  }
  .intro {
    width: 100%;
    height: 650px;
    background-image: url(../img/intro-mobile.jpg);
    background-color: #495567;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-resolution: 192dpi), only screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../img/intro-mobile@2x.jpg);
    background-size: cover;
    height: 680px;
  }
}

@media only screen and (max-width: 768px) {
  .intro__content {
    padding: 0;
    width: 311px;
    margin: 0 auto;
  }
  .intro__title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
  }
  .intro__description {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .intro__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .intro__container::before {
    display: block !important;
    width: 446px;
    height: 138px;
    background-image: url(../img/intro-end-line.svg);
    content: '';
    position: absolute;
    left: -312px;
    top: 513px;
  }
}

.guide {
  margin-top: 160px;
}

.guide__container {
  position: relative;
}

.guide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide__list::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -2;
  position: absolute;
  width: 974px;
  height: 1px;
  left: -206px;
  top: 41px;
  border-bottom: 15px solid #E5ECF4;
  content: '';
}

.guide__item {
  width: 350px;
  margin-right: auto;
  position: relative;
}

.guide__item::before {
  display: inline-block;
  width: 96px;
  height: 96px;
  background: #FCB72B no-repeat center center;
  border-radius: 50%;
  padding: 24px 32.80px 24px 29px;
  margin-bottom: 40px;
}

.guide__item--app::before {
  background-image: url(../img/app.svg);
  content: '';
}

.guide__item--scooter::before {
  background-image: url(../img/scooter.svg);
  content: '';
}

.guide__item--ride::before {
  background-image: url(../img/ride.svg);
  content: '';
}

.guide__title {
  font-family: Space Mono, monospace;
  font-weight: 700;
  color: #495567;
  font-size: 24px;
  left: 28px;
  margin-bottom: 27px;
  text-align: left;
  letter-spacing: -1.07143px;
}

.guide__description {
  font-family: Lexend Deca, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  text-align: left;
}

@media only screen and (max-width: 1136px) {
  .guide__list::before {
    display: none;
  }
  .guide__container {
    margin-top: 122px;
    width: 600px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .guide__list::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: -2;
    position: absolute;
    height: 595px;
    width: 1px;
    left: 37.23591549295775%;
    top: -160px;
    left: 55px;
    border-left: 15px solid #E5ECF4;
    content: '';
  }
  .guide__list {
    display: block;
  }
  .guide__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .guide__item::before {
    margin: 0 79px 0 0;
    width: 96px;
    height: 96px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .guide__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .guide__description {
    margin-bottom: 40px;
  }
  .last-desc {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .guide__list::before {
    display: none;
  }
  .guide__container {
    width: 341px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  .guide__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide__item::before {
    margin: 0 0 24px 0;
    width: 96px;
    height: 96px;
    padding: 24px 48px;
  }
  .guide__content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .guide__title {
    text-align: center;
  }
  .guide__description {
    display: block;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

.benefits__container {
  margin-top: 200px;
  margin-bottom: 307px;
  position: relative;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.benefits__content {
  width: 445px;
}

.benefits__item {
  margin-bottom: 160px;
}

.benefits__item:last-child {
  margin-bottom: 0;
}

.circle {
  display: inline-block;
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  border-radius: 50%;
  right: -509px;
  position: absolute;
}

.circle-left {
  display: block;
  width: 445px;
  height: 445px;
  background-color: #E5ECF4;
  border-radius: 50%;
  left: -509px;
  position: absolute;
}

.benefits__img {
  margin: 0;
  border-radius: 50%;
}

.benefits__mobile-img {
  display: none;
}

.benefits__item::after {
  width: 734px;
  height: 150px;
  content: '';
  position: absolute;
}

.benefits__item--use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.benefits__item--use::after {
  display: inline-block;
  width: 734px;
  height: 150px;
  background-image: url(../img/vector-left.svg);
  content: '';
  position: absolute;
  right: -165px;
  bottom: 0;
}

.benefits__item--city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.benefits__item--city::after {
  background-image: url(../../img/vector-left.svg);
  left: -550px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
}

.benefits__item--payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.benefits__item--payment::after {
  background-image: url(../img/vector-left.svg);
  right: -545px;
  top: 77px;
}

.benefits__title {
  font-family: Space Mono, monospace;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  left: 48px;
  color: #495567;
  letter-spacing: -2.14286px;
  margin-bottom: 24px;
}

.benefits__description {
  font-family: Lexend Deca, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1136px) {
  .benefits__container {
    max-width: 603px;
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 104px;
    padding: 0 15px;
    position: relative;
  }
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .circle {
    display: block;
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    right: -430px;
    position: absolute;
  }
  .circle-left {
    display: block;
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    left: -430px;
    position: absolute;
  }
  .last-circle {
    width: 445px;
    height: 445px;
    position: absolute;
    background-color: #E5ECF4;
    margin-bottom: 31px;
  }
  .benefits__content {
    width: 573px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits__title {
    margin: 0;
    margin-top: 56px;
    width: 457px;
    letter-spacing: -2.14286px;
    text-align: center;
  }
  .benefits__description {
    text-align: center;
    margin: 0;
    margin-top: 40px;
  }
  .benefits__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 40px;
  }
  .benefits__item--use::after {
    position: absolute;
    top: 307px;
  }
  .benefits__item--city {
    position: relative;
  }
  .benefits__item--city::after {
    position: absolute;
    top: 0;
    left: -490px;
  }
  .benefits__item--payment {
    position: relative;
  }
  .benefits__item--payment::after {
    position: absolute;
    top: 75px;
    right: -476px;
  }
}

.benefits__img {
  width: 445px;
  height: 445px;
}

@media only screen and (max-width: 768px) {
  .circle,
  .circle-left {
    display: none;
  }
  .benefits__container {
    width: 341px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    padding: 0 15px;
    position: relative;
  }
  .benefits__img {
    display: block;
    width: 311px;
    height: 311px;
    border-radius: 50%;
    margin-bottom: 0;
  }
  .benefits__content {
    width: 311px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits__title {
    font-family: Space Mono, monospace;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #495567;
    letter-spacing: -1.42857px;
    margin-bottom: 32px;
    width: 311px;
    letter-spacing: -1.42857px;
  }
  .benefits__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 32px;
  }
  .benefits__item--use {
    position: relative;
  }
  .benefits__item--use::after {
    position: absolute;
    top: 165px;
    right: -420px;
  }
  .benefits__item--city {
    position: relative;
  }
  .benefits__item--city::after {
    position: absolute;
    top: 0;
    left: -500px;
  }
  .benefits__item--payment {
    position: relative;
  }
  .benefits__item--payment::after {
    position: absolute;
    top: 0;
    right: -550px;
  }
}

.cta {
  background-color: #495567;
  padding: 64px 0;
  overflow: hidden;
}

.cta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cta__title {
  font-family: Lexend Deca, monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
  width: 415px;
  margin-right: 336px;
}

.cta__applications {
  width: 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta__circle {
  width: 347px;
  height: 347px;
  mix-blend-mode: normal;
  opacity: 0.1;
  border: 15px solid #E5ECF4;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 50%;
  left: 282px;
}

.cta__circle::before {
  display: inline-block;
  width: 347px;
  height: 347px;
  mix-blend-mode: normal;
  border: 15px solid #E5ECF4;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  content: '';
  position: absolute;
  right: 386px;
  top: -20px;
}

.cta__circle::after {
  display: inline-block;
  width: 347px;
  height: 347px;
  background: #E5ECF4;
  mix-blend-mode: normal;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  content: '';
  position: absolute;
  top: -20px;
  right: 850px;
}

@media only screen and (max-width: 1136px) {
  .cta {
    height: 300px;
    overflow: hidden;
  }
  .cta__container {
    width: 487px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative !important;
  }
  .cta__title {
    width: 457px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .cta__circle {
    display: block;
    width: 347px;
    height: 347px;
    mix-blend-mode: normal;
    border: 15px solid #E5ECF4;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 50%;
    left: -330px;
  }
  .cta__circle::before {
    position: absolute;
  }
  .cta__circle::after {
    position: absolute;
    top: -20px;
    right: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .cta__circle {
    display: none;
  }
  .cta {
    height: 320px;
    width: 100%;
    background-size: cover;
    position: relative !important;
  }
  .cta__container {
    width: 311px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta__title {
    width: 311px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .cta__applications {
    width: 256.43px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cta__app-apptore {
    width: 113.57px;
    height: 40px;
  }
  .cta__app-playstore {
    width: 130px;
    height: 40px;
  }
  .cta__circle::before {
    display: none;
  }
  .cta__circle {
    display: block;
    width: 347px;
    height: 347px;
    mix-blend-mode: normal;
    border: 15px solid #E5ECF4;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 50px;
    left: -205px;
  }
  .cta__circle::after {
    display: inline-block;
    position: absolute;
    width: 347px;
    height: 347px;
    background: #E5ECF4;
    mix-blend-mode: normal;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -19px;
    right: 395px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 15px 32.44px 15px;
}

.footer__logo {
  margin-right: 58.58px;
}

.footer__list {
  width: 249px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 571px;
}

.footer__item a {
  display: block;
  font-family: Space Mono, monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.footer__item a:hover {
  color: #FCB72B;
}

.footer__social-list {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
}

.footer__social-link {
  color: #FCB72B;
  width: 24px;
  height: 24px;
}

.footer__social-link:hover {
  color: #FFFFFF;
}

@media only screen and (max-width: 1136px) {
  .footer__container {
    width: 718px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 15px 32.44px 15px;
  }
  .footer__list {
    margin-right: 153px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    width: 100%;
  }
  .footer__container {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 127px 88px 128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .footer__logo {
    margin-bottom: 41.44px;
    margin-left: 134px;
    margin-right: 133.18px;
  }
  .footer__list {
    width: 74px;
    height: 107px;
    margin-left: 150px;
    margin-right: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 85px;
  }
  .footer__social-list {
    width: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */